#home_background {
    height: 100vh;
    background: linear-gradient(to right top, black, white);
    display: grid;
    grid-auto-rows: repeat(2,1fr);
    place-items: center;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

#logout {
    background: black;
}

ul {
    list-style-type: none;
}

#comment_section {
    display: flex;
    gap:0.5em;
}

#comments {
    width:35em;
    height: 15em;
    background: rgb(175, 40, 175);
    overflow-x: auto;
    overflow-y: auto;
    padding:0.5em 1em;
    border-radius: 20px;
}

#comment_text {
    font-size: 2rem;
}

@media screen and (max-width:600px) {
    #comment_section {
        flex-direction: column;
    }

    #comments {
        width:25em;
    }
}

@media screen and (max-width:450px) {
    #comment_section {
        flex-direction: column;
    }

    #comments {
        width:17.5em;
    }
}